<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/content/css/style.css" media="all" />
    <title>Games</title>
</head>

<body>
    <h1>Lorem Ipsum Games</h1>
    <main class="first">
        <div class="left">
            <a href="/tictactoe/views/index.html" target="_blank" style="text-decoration:none">
                <img src="/content/img/tictactoe.png" alt="tictactoe" width="400px" class="firstImg">
                <h2>Play Tic Tac Toe</h2>
        </div>
        <div class="right">
            <a href="/connect4/views/index.html" target="_blank" style="text-decoration:none">
                <img src="/content/img/connect4.png" alt="Connect4" width="400px" class="firstImg">
                <h2>Play Connect4</h2>
        </div>
    </main>
    <p>by Lorem-Ipsum.667</p>
</body>

</html>