body {
  background: url(/content/img/city.gif);
  background-size: cover;
}

h1 {
  text-align: center;
  color: whitesmoke;
  margin-top: 5rem;
  margin-bottom: 10rem;
  font-size: 60px;
}

h2 {
  color: whitesmoke;
  text-align: center;
}

.first {
  display: flex;
  height: 400px;
  justify-content: center;
  opacity: 0.9;
  margin-bottom: 12rem;
}

.firstImg {
  border-radius: 200px;
}

p{
    color: whitesmoke;
    text-align: center;
}